<a href="https://colab.research.google.com/github/pavanreddy565/Vishnu-Results-pandas-application/blob/main/results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# reading data

In [ ]:
df = pd.read_excel('/content/res.xlsx')
df.head()

       HT.No.  Sub Code                             Subject Name Grade Credits
0  20PA1A12A4  20CS5T02                        COMPUTER NETWORKS     F       0
1  20PA1A12A4  20CS5A01                       COMPETITIVE CODING     P      --
2  20PA1A12A4  20IT5P01            ADVANCED WEB TECHNOLOGIES LAB     A     1.5
3  20PA1A12A4  20IT5I01                        SUMMER INTERNSHIP     S     1.5
4  20PA1A12A4  20IT5P02  COMPUTER NETWORKS & COMPILER DESIGN LAB     O     1.5

In [ ]:
df["HT.No."].isnull().sum()

0

In [ ]:
df.dropna(subset=['HT.No.'], inplace=True)

# filtering

In [ ]:
import re

pattern = r'(22PA1A|23PA5A)'

df1 = df[df['HT.No.'].str.contains(pattern)]
df1.head()

<ipython-input-56-0ec3d54ea430>:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df1 = df[df['HT.No.'].str.contains(pattern)]

,HT.No.,Sub Code,Subject Name,Grade,Credits
70,22PA1A0101,20CE5J01,ENGINEERING EXPLORATION PROJECT,P,--
71,22PA1A0101,20CE5P02,REMOTE SENSING & GIS LABORATORY,O,1.5
72,22PA1A0101,20CE5P01,GEOTECHNICAL ENGINEERING LABORATORY,S,1.5
73,22PA1A0101,20CE5I01,SUMMER INTERNSHIP,O,1.5
74,22PA1A0101,20BS5P01,ADVANCED ENGLISH COMMUNICATION SKILLS LAB,A,2

In [ ]:
df1.isnull().sum()

HT.No.          0
Sub Code        0
Subject Name    0
Grade           0
Credits         0
dtype: int64

# Assigning Branches

In [ ]:
branchs={'01':'CIVIL','02':'MECH','03':'EEE','04':'ECE',"05":"CSE","45":"AIDS","42":"AIML","57":"CSBS"}

In [ ]:
df1["Branch"] = df1['HT.No.'].str[6:8].map(branchs)
df1['Credits'] = df1['Credits'].replace('--', 0)
df1.head()

<ipython-input-59-980090e0e114>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Branch"] = df1['HT.No.'].str[6:8].map(branchs)
<ipython-input-59-980090e0e114>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1['Credits'] = df1['Credits'].replace('--', 0)
<ipython-input-59-980090e0e114>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Credits'] = df1['Credits'].replace('--', 0)

,HT.No.,Sub Code,Subject Name,Grade,Credits,Branch
70,22PA1A0101,20CE5J01,ENGINEERING EXPLORATION PROJECT,P,0.0,CIVIL
71,22PA1A0101,20CE5P02,REMOTE SENSING & GIS LABORATORY,O,1.5,CIVIL
72,22PA1A0101,20CE5P01,GEOTECHNICAL ENGINEERING LABORATORY,S,1.5,CIVIL
73,22PA1A0101,20CE5I01,SUMMER INTERNSHIP,O,1.5,CIVIL
74,22PA1A0101,20BS5P01,ADVANCED ENGLISH COMMUNICATION SKILLS LAB,A,2.0,CIVIL

In [ ]:
grouped_df = df1.groupby('Branch')

# Enter Branch for results

In [ ]:
select_branch=input("Enter which branch result You want to view\n")
select_branch=select_branch.upper()

Enter which branch result You want to view
ece

In [ ]:
selected_df=grouped_df.get_group(select_branch)
selected_df.head()

,HT.No.,Sub Code,Subject Name,Grade,Credits,Branch
1680,22PA1A0401,20HS5A01,INTELLECTUAL PROPERTY RIGHTS AND PATENTS,P,0.0,ECE
1681,22PA1A0401,20EC5T03,DIGITAL COMMUNICATION,F,0.0,ECE
1682,22PA1A0401,20EC5P02,DIGITAL COMMUNICATION LAB,S,1.5,ECE
1683,22PA1A0401,20EC5P01,IC APPLICATIONS LAB,O,1.5,ECE
1684,22PA1A0401,20EC5I01,SUMMER INTERNSHIP,O,1.5,ECE

In [ ]:
subjects=selected_df['Subject Name'].unique()
selected_df['Subject Name'].nunique()

12

# Subjects credits calculation

In [ ]:

subject_credits_dict = {}


for index, row in selected_df.iterrows():
    subject_name = row['Subject Name']
    credits = row['Credits']


    if subject_name not in subject_credits_dict and not pd.isnull(credits):
        subject_credits_dict[subject_name] = credits
    elif subject_credits_dict[subject_name]!=credits and credits!=0:
        subject_credits_dict[subject_name] = credits
sub=subject_credits_dict.copy()
subject_credits_dict.update({'dummy': 0})


print(sub)

{'INTELLECTUAL PROPERTY RIGHTS AND PATENTS': 0.0, 'DIGITAL COMMUNICATION': 3.0, 'DIGITAL COMMUNICATION LAB': 1.5, 'IC APPLICATIONS LAB': 1.5, 'SUMMER INTERNSHIP': 1.5, 'EMPLOYABILITY SKILLS-PCB DESIGN': 2.0, 'OBJECT ORIENTED PROGRAMMING THROUGH JAVA': 3.0, 'INTERNET OF THINGS': 3.0, 'INTEGRATED CIRCUITS AND APPLICATIONS': 3.0, 'ANTENNA AND WAVE PROPAGATION': 3.0, 'EMPLOYABILITY SKILLS-APTITUDE': 2.0, 'EMPLOYABILITY SKILLS-ATL': 2.0}

# pivoting the table

In [ ]:
result_df = selected_df.pivot_table(index='HT.No.', columns='Subject Name', values='Grade', aggfunc=lambda x: ', '.join(x.astype(str)))
result_df.reset_index(inplace=True)
result_df.head(2)

Subject Name,HT.No.,ANTENNA AND WAVE PROPAGATION,DIGITAL COMMUNICATION,DIGITAL COMMUNICATION LAB,EMPLOYABILITY SKILLS-APTITUDE,EMPLOYABILITY SKILLS-ATL,EMPLOYABILITY SKILLS-PCB DESIGN,IC APPLICATIONS LAB,INTEGRATED CIRCUITS AND APPLICATIONS,INTELLECTUAL PROPERTY RIGHTS AND PATENTS,INTERNET OF THINGS,OBJECT ORIENTED PROGRAMMING THROUGH JAVA,SUMMER INTERNSHIP
0,22PA1A0401,D,F,S,NaN,NaN,O,O,B,P,C,C,O
1,22PA1A0402,B,S,O,NaN,NaN,O,O,A,P,A,A,O

# CGPA calculator funtion

In [ ]:
def sgpaCalculator(a):
    sum = 0
    credits = 0
    l = {'o': 10, 's': 9, 'a': 8, 'b': 7, 'c': 6, 'd': 5, 'f': 0, 'p': 1,'-ab-':0}

    for subject, grade in a.items():
        grade = str(grade).lower()
        if grade == 'nan' or grade == 'f' or grade =='-ab-':
            grade = 'f'
        sum += subject_credits_dict[subject] * l[grade]
        if grade != 'f':
            credits += subject_credits_dict[subject]

    if credits == 0:
        return "0.00"
    else:
       return "{:.2f}".format(sum / credits)

In [ ]:
result_df.insert(loc=1, column='SGPA', value=0.0)

for index, row in result_df.iterrows():
    a = {}
    for subject in sub.keys():
        a[subject] = row[subject]
    value = sgpaCalculator(a)
    result_df.at[index, 'SGPA'] = value

<ipython-input-67-d3d1bf300883>:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.32' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  result_df.at[index, 'SGPA'] = value

In [ ]:

def color_grade(grade):
    if isinstance(grade, str) and 'F' in grade:
        return 'color: red'
    else:
        return ''

# Enter your Section starting and ending rollnumbers to get results for you section

In [ ]:

start_value=input("Enter Starting Roll NO\n").upper()
end_value=input("Enter Ending Roll NO\n").upper()

le_start=input("Enter LE Starting Roll NO\n").upper()
le_end=input("Enter LE Ending Roll NO\n").upper()

selected_rows = result_df[((result_df['HT.No.'] >= start_value)& (result_df['HT.No.'] <= end_value))|(result_df['HT.No.'] >= le_start)& (result_df['HT.No.'] <= le_end)]
selected_rows=selected_rows.style.applymap(color_grade, subset=pd.IndexSlice[:, result_df.columns[2:]])

selected_rows

Enter Starting Roll NO
22pa1a04c4
Enter Ending Roll NO
22pa1a04i4
Enter LE Starting Roll NO
23pa5a0421
Enter LE Ending Roll NO
23pa5a0430

<ipython-input-69-9b5e79b3ea6e>:8: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  selected_rows=selected_rows.style.applymap(color_grade, subset=pd.IndexSlice[:, result_df.columns[2:]])

# convert your section result into excel

In [ ]:
selected_rows.to_excel('semresultsece.xlsx', engine='openpyxl', index=False)

In [ ]:
from google.colab import files
files.download('semresultsece.xlsx')